[submodule "Vendor/cakephp"]
	path = Vendor/cakephp
	url = git@github.com:cakephp/cakephp.git
[submodule "Lib/EnvSwitcher"]
	path = Lib/EnvSwitcher
	url = git://github.com/angelxmoreno/CakePHP-Environment-Switcher.git
[submodule "Plugin/DebugKit"]
	path = Plugin/DebugKit
	url = git@github.com:angelxmoreno/debug_kit.git
[submodule "Plugin/BoostCake"]
	path = Plugin/BoostCake
	url = git@github.com:angelxmoreno/cakephp-plugin-boost_cake.git
[submodule "Plugin/Utils"]
	path = Plugin/Utils
	url = git@github.com:angelxmoreno/utils.git
